h1 {
    color: darkgray;
    background-color: green;
    font-family: 'Open Sans', sans-serif;
}

h4 {
    color: darkgray;
    background-color: green;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    background-image: url(https://i.imgur.com/BYPsShX.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover
}

div {
    margin-top: 15px;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
